table, th, td {
  border: 1px solid black;
  margin-top: 10px;
}
[data-tooltip] {
  position: relative; /* Относительное позиционирование */ 
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 80%; /* Ширина подсказки */
  left: 10%; top: 0; /* Положение подсказки */
  /*background: #3989c9; /* Синий цвет фона */
  background: #000000;
  color: #fff; /* Цвет текста */
  padding: 0.5em; /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 0.3s; /* Время появления подсказки */
} 
[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 1.5em; /* Положение подсказки */
}
.main-row {
  background-color: lightgreen;
}
.selected-row {
  background-color: lightyellow;
}
table {
  table-layout: auto;
}
.team-col {
  min-width: 200px;
  max-width: 200px;
  word-wrap: break-word;
  vertical-align:middle;
}
.result-col {
  min-width: 135px;
  max-width: 145px;
  vertical-align:middle;
}
.value-col {
  min-width: 130px;
  max-width: 140px;
  word-wrap: break-word;
  /*word-break: break-all;*/
}